.title
  %h1
    Starcraft 2
    %br
    International Competition Predictor
  %h2
    %a.fancy-font(href="https://github.com/jonathank/datascience-sc")
      %span(title="Brian Harvey is cool") SICP
      On Github

.text
  %p Text goes here.
  %p More text.
