// http://kuler.adobe.com/#themeID/1859505
$base1: #3D4C53;
$base2: #70B7BA;
$base3: #F1433F;
$base4: #E7E1D4;
$base5: #FFFFFF;

@import 'compass';
@import 'compass/css3';
@import 'compass/reset';
@include global-reset();

$border-radius: 0.3em;

@import url(http://fonts.googleapis.com/css?family=Iceland);
@import url(http://fonts.googleapis.com/css?family=Doppio+One);
$fancy-font: "Iceland";
$base-font: "Doppio One", sans-serif;
$monospace-font: "Consolas", monospace;
$base-font-color: $base5;

.center { text-align: center; }
.left { float: left; }
.right { float: right; }
.fancy-font { font-family: $fancy-font; }
@mixin box {
  @include display-box();
  @include box-orient(horizontal);
  @include box-align(center);
  @include box-pack(center);
}
@mixin regular-text {
  font-family: $base-font;
  color: $base-font-color;
  text-decoration: none;
}

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
