@import "common";

html {
  height: 100%;
  width: 100%;
}

body {
//  background-color: rgb(30,37,40); // Old browsers
//  @include filter-gradient(#1e2528, #1e2528, horizontal); // IE6-9
//  @include background-image(linear-gradient(left, rgba(30,37,40,1) 0%,rgba(128,180,181,1) 50%,rgba(30,37,40,1) 100%));

  width: 100%;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  @include background-size(100% 100%);
  @include background-origin(border-box);
}

body {
  @include regular-text();
}

* {
  @include box-sizing(border-box);
}

header, footer {
  position: absolute;
  height: 14%;
  width: 100%;

  .nav {
    @include box();
    margin-left:  0.25em;
    margin-right: 0.25em;
    padding: 0.25em;
    height: 100%;
    width: 6em;

    @include regular-text();
    font-family: $fancy-font;
    font-size: 1.5em;

    background: rgba(255,255,255,0.1);

    &:hover {
      background: rgba(255,255,255,0.2);
    }
  }
}

header { top: 0; }
footer {
  bottom: 0;
  height: 10%;
}

h1, h2, h3, h4, h5, h6 {
  color: $base2;
  font-family: $fancy-font, cursive;
  text-align: center;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }

p {
  margin: 1em;
  padding: 1em;
}

code {
  padding: 0.1em;
  font-family: $monospace-font;
  position: relative;

  &:hover {
    &:before, &:after {
      position: absolute;
      height: 120%;
      font-size: 1.5em;
      color: $base2;
    }
    &:before { content: "{"; left: -0.3em; }
    &:after  { content: "}"; right: -0.3em; }
  }
}

#content {
  @include box-sizing(border-box);
  padding: 2em;
  position: absolute;
  top: 14%;
  height: 76%;
  width: 100%;

  background: rgba(0,0,0,0.8);
  @include single-box-shadow( $color: $base2, $blur: 0.6em, $spread: 0.1em );
}

.bam {
  margin: 1.5em;
  text-align: center;
  font-size: 1.5em;
}

.section {
  h2, h3, h4, h5, h6 {
    text-align: left;
  }
}
