!!!
%html
  %head
    %title SICP
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.clearfix
    %header
      %a.nav.home.left(href=home_path)
        %span home
      %a.nav.tech.left(href='#')
        %span tech
      %a.nav.github.right(href="https://github.com/jonathank/datascience-sc")
        %span source
    #content
      = yield
    %footer
